/*! Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  color: #546e7a !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  line-height: 1.6;
}
strong {
  font-weight: 700;
}
h1 { font-size: 2.00em; }
h2 { font-size: 1.80em; }
h3 { font-size: 1.62em; }
h4 { font-size: 1.31em; }
h5 { font-size: 1.16em; }
h6 { font-size: 1.00em; }
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1#logo {
  margin: 0;
  line-height: 64px;
}
h1#logo a {
  font-size: 0.9em;
  letter-spacing: -1pt;
}
@media only screen and (max-width: 992px) {
  h1#logo {
    line-height: 64px;
  }
}
@media only screen and (max-width: 600px) {
  h1#logo {
    line-height: 54px;
  }
  h1#logo a {
    padding-left: 0.5em;
  }
}

a:active,
a:hover {
  color: #23527c;
  text-decoration: underline;
}
a.brand-logo:hover,
a.button-collapse:hover,
nav a:hover {
  color: inherit;
  outline: 0;
  text-decoration: none;
}
a.download-button:hover {
  color: white;
  outline: 0;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 1.6em auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 720px) {
  img {
    max-width: 600px !important;
  }
}
img.site-logo {
  box-shadow: none;
}
span.emoji img {
  height: 1em;
  width: 1em;
  box-shadow: none;
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  margin: 0;
  top: 4px;
}

time.blog-post-meta {
  display: inline-block;
  width: 7em;
}

ul {
  margin-left: 1em;
  list-style-type: disc;
}
nav ul {
  list-style-type: none;
}

/**
 * Container
 */
[class*="section"] p {
  word-wrap: break-word;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens:auto;
}
[class*="section"] p > * {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens:none;
}

.feature-block {
  margin-top: 2.5em;
  padding: 0 15px;
}

/**
 * Navigation
 */
.brand-logo {
  font-weight: 700;
}

/**
 * Side navigation
 */
.side-nav li {
  padding: 0;
}
.side-nav a {
  padding: 0 30px;
}
@media only screen and (max-width: 600px) {
  .side-nav li {
    line-height: 56px;
  }
  .side-nav a {
    height: 56px;
    line-height: 56px;
  }
}

/**
 * Breadcrumb
 */
div.breadcrumb {
  margin-top: 1em;
}

/**
 * Section
 */
p#intro {
  margin-top: 0;
}
.features h2 {
  line-height: 1.5;
  margin: 1.424rem 0;
}
.features {
  padding: 0;
}
.features .container {
}
.features .row {
  margin-bottom: 0;
}
.features p {
  font-size: 1.2rem;
}

/**
 * Features
 */
.download-button {
  margin: 0 0 2em 0;
}
.scroll-fire p {
  opacity: 0;
}

/**
 * Blog posts
 */
.blog-post-title {
  font-size: 2.2em;
  letter-spacing: -1pt;
}
.blog-post-meta {
  color: #90a4ae;
  font-weight: 700;
}

/**
 * Page
 */
footer.post-footer ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0.4em;
}

/**
 * Footer
 */
footer.page-footer {
  color: white;
  margin-top: 0;
}
footer.page-footer a {
  color: white;
}
footer.page-footer .footer-copyright {
  color: #eceff1;
  background-color: rgba(0, 0, 0, 0.2);
}

.pagination {
  margin-bottom: 1em;
}
.pagination * {
  margin: auto 0.15em;
}

/*********************************************/
/* Hover.css http://ianlunn.github.io/Hover/ */
/* Pop */
@-webkit-keyframes hvr-effect {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes hvr-effect {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.hvr-effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-effect:hover, .hvr-effect:focus, .hvr-effect:active {
  -webkit-animation-name: hvr-effect;
  animation-name: hvr-effect;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/********** from bootstrap.css **********/
table {
/*margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 2em;
}
table thead tr th, table tbody tr td {
  text-align: center;
}
table > tbody > tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.alert {
  padding: 15px;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, Menlo, "Courier New", monospace;
  font-size: 85%;
}

code {
  padding: 2px 4px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/**
 * Disqus
 */
#disqus_thread {
  width: 100%;
}

/**
 * tablesort
 * http://tristen.ca/tablesort/demo/
 */
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
}
table th.sort-header:hover:after {
  visibility:visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
}
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
}

/**
 * Google Webmaster Fix URL on 404 page
 *
 */
/* .container .row */
#goog-fixurl {
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  #goog-fixurl {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  #goog-fixurl {
    width: 70%;
  }
}
#goog-fixurl:after {
  content: "";
  display: table;
  clear: both;
}
/* .row .col */
#goog-fixurl form {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  box-sizing: border-box;
}
/* .col.s12 .col.m8 */
/* .col.s12 .col.m4 */
#goog-wm-qt,
#goog-wm-sb {
  width: 100%;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: 0.5em;
  left: auto;
  right: auto;
}
@media only screen and (min-width: 601px) {
  #goog-wm-qt {
    width: 65%;
  }
  #goog-wm-sb {
    width: 30%;
  }
}
#goog-wm-qt {
  height: 36px;
  vertical-align: middle;
}
#goog-wm-sb {
  /**
   * .btn
   *
   */
  text-decoration: none;
  color: #fff;
  background-color: #00838f !important;
  text-align: center;
  letter-spacing: .5px;
  font-style: normal;
  font-size: inherit;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;

  /**
   * Waves v0.6.0
   * http://fian.my.id/Waves
   *
   * Copyright 2014 Alfiana E. Sibuea and other contributors
   * Released under the MIT license
   * https://github.com/fians/Waves/blob/master/LICENSE
   */
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}
#goog-wm-sb {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#goog-wm-sb:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/**
 * pygments for github.css
 *
 * @link: http://stackoverflow.com/questions/11093233/how-to-support-scrolling-when-using-pygments-with-jekyll
 * @link: http://inteist.com/pygments-theme-for-jekyll-monokai/
 */
.highlight {
  margin: 0;
}
.highlight pre {
  margin-bottom: 1em;
  padding: 0.5em 0.75em;

  overflow: auto;
  word-wrap: normal; /* horizontal scrolling */
}
.highlight code {
  display: block;
  white-space: pre;
}
.highlight .lineno {
  color: #bbb;
}
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
