@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?spuy3l');
    src:    url('icomoon.eot?spuy3l#iefix') format('embedded-opentype'),
        url('icomoon.ttf?spuy3l') format('truetype'),
        url('icomoon.woff?spuy3l') format('woff'),
        url('icomoon.svg?spuy3l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
    content: "\e620";
}
.icon-description:before {
    content: "\e622";
}
.icon-extension:before {
    content: "\e629";
}
.icon-https:before {
    content: "\e638";
}
.icon-language:before {
    content: "\e63f";
}
.icon-launch:before {
    content: "\e640";
}
.icon-settings:before {
    content: "\e672";
}
.icon-supervisor_account:before {
    content: "\e67d";
}
.icon-verified_user:before {
    content: "\e691";
}
.icon-vpn_key:before {
    content: "\e6fd";
}
.icon-security:before {
    content: "\e7d7";
}
.icon-flash_on:before {
    content: "\e827";
}
.icon-timer:before {
    content: "\e860";
}
.icon-chevron_left:before {
    content: "\e8a8";
}
.icon-chevron_right:before {
    content: "\e8a9";
}
.icon-close:before {
    content: "\e8aa";
}
.icon-expand_less:before {
    content: "\e8ab";
}
.icon-expand_more:before {
    content: "\e8ac";
}
.icon-menu:before {
    content: "\e8af";
}
.icon-more_horiz:before {
    content: "\e8b0";
}
.icon-sync:before {
    content: "\e8d0";
}
.icon-vpn_lock:before {
    content: "\e8d6";
}
.icon-check:before {
    content: "\f00c";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-twitter2:before {
    content: "\f081";
}
.icon-facebook:before {
    content: "\f082";
}
.icon-github-square:before {
    content: "\f092";
}
.icon-github-circle:before {
    content: "\f09b";
}
.icon-feed:before {
    content: "\f09e";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-file:before {
    content: "\f15b";
}
.icon-file-text:before {
    content: "\e900";
}
.icon-folder-open:before {
    content: "\e901";
}
.icon-price-tag:before {
    content: "\e904";
}
.icon-price-tags:before {
    content: "\e90c";
}
.icon-quotes-left:before {
    content: "\e90d";
}
.icon-bookmark:before {
    content: "\e902";
}
.icon-bookmarks:before {
    content: "\e903";
}
.icon-checkmark:before {
    content: "\e905";
}
.icon-checkmark2:before {
    content: "\e906";
}
.icon-circle-right:before {
    content: "\e907";
}
.icon-facebook2:before {
    content: "\e90e";
}
.icon-twitter:before {
    content: "\e908";
}
.icon-rss2:before {
    content: "\e909";
}
.icon-github:before {
    content: "\e90a";
}
.icon-wordpress:before {
    content: "\e90b";
}

