<div class="alert alert-info">
	<strong>NOTE:</strong>
	When you select <code>"mu-plugins" (ip-geo-block-mu.php)</code> as 
	<a href="/codex/validation-timing.html" title="Validation timing | IP Geo Block">
		Validation timing
	</a>, you should put your code snippet into <code>drop-in.php</code> 
	in <a href="/codex/geolocation-api-library.html" title="Geolocation API library | IP Geo Block">
		Geolocation API folder
	</a> instead of <code>functions.php</code>. See 
	<a href="/codex/functions-php-not-working.html" title="My custom functions in “functions.php” doesn’t work. | IP Geo Block">
		My custom functions in “functions.php” doesn’t work.
	</a> in FAQ for detail.
</div>
