<footer class="blog-footer">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 sidebar-module text-left">
        <h4>Links</h4>
        <ul>
          <li>
            <p class="blog-footer-owner">
              <a href="https://github.com/{{ site.github_username }}/{{ site.project.name }}">{{ site.project.name }}</a> maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
            </p>
          </li>
          <li>
            <a href="https://wordpress.org/plugins/ip-geo-block/" title="WordPress &#8250; IP Geo Block &laquo; WordPress Plugins">IP Geo Block &laquo; WordPress.org</a>
          </li>
          <li class="rss-subscribe">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a>
          </li>
        </ul>
      </div><!--sidebar-module-->

      <div class="col-xs-12 col-sm-5 sidebar-module text-left">
        <h4>Recent Posts</h4>
        <ul>
          {% for post in site.posts %}<li>
            <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>{% endfor %}
        </ul>
      </div><!--sidebar-module-->

      <div class="col-xs-12 col-sm-3 sidebar-module">
        <a href="{{ "/" | prepend: site.baseurl }}" title="Blog Home">
          <!--<img class="img-responsive center-block" src="{{ "/img/wp-medal.png" | prepend: site.baseurl }}" alt="WordPress Logo" />-->
          <img class="img-responsive center-block" src="https://cloud.githubusercontent.com/assets/828814/7332953/37465664-eb96-11e4-9aa0-15acf48a6cbd.png" alt="WordPress Logo" />
        </a>
      </div><!--sidebar-module-->

    </div><!--row-->
  </div><!--container-->

  <div class="container">
    <div class="sidebar-module">
      <p class="text-center">
        <a href="#">Back to top</a>
      </p>
    </div><!--sidebar-module-->
  </div><!--container-->

</footer>
