<footer class="page-footer cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <h5>Links</h5>
        <ul>
          <li>
            <a href="https://github.com/{{ site.github_username }}/{{ site.project.name }}" title="tokkonopapa/WordPress-IP-Geo-Block - GitHub">{{ site.project.name }}</a>
          </li>
          <li>
            <a href="https://wordpress.org/plugins/ip-geo-block/" title="WordPress &#8250; IP Geo Block &laquo; WordPress Plugins">IP Geo Block &laquo; WordPress.org</a>
          </li>
          <li>
            <a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
          </li>
          <li>
            <a href="{{ '/codex/' | prepend: site.baseurl }}">Codex</a>
          </li>
          <li>
            <a href="{{ '/archives.html' | prepend: site.baseurl }}">Arvhives</a>
          </li>
          <li class="rss-subscribe">
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}">Subscribe via RSS</a>
          </li>
        </ul>
      </div>

      <div class="col s12 m4 l4">
        <h5>Recent Posts</h5>
        <ul>
          {% for post in site.posts limit: site.recent_post %}<li>
            <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>{% endfor %}
        </ul>
      </div>

      <div class="col s12 m4 l4">
        <a href="#" title="Scroll to top">
          <!--<img class="img-responsive center-block" src="{{ "/img/wp-medal.png" | prepend: site.baseurl }}" alt="WordPress Logo" />-->
          <img class="site-logo img-responsive center-block" src="https://cloud.githubusercontent.com/assets/828814/7332953/37465664-eb96-11e4-9aa0-15acf48a6cbd.png" alt="WordPress Logo" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <p class="container center-align">
maintained by <a class="orange-text text-lighten-3" href="https://github.com/tokkonopapa" title="tokkonopapa - GitHub">tokkonopapa</a>
    </p>
  </div>
</footer>
