  <!-- navigation -->
  <nav class="cyan darken-3">
    <div class="nav-wrapper container">
      <h1 id="logo">
        <a id="logo-container" href="{{ '/' | prepend: site.baseurl }}" class="brand-logo">IP Geo Block</a>
      </h1>

      <div class="switch right" title="Change language">
        <label>
          <span class="lang-label">E</span>
          <input id="lang-switch" type="checkbox" style="display:none">
          <span class="lever"></span>
          <span class="lang-label">J</span>
        </label>
      </div>

      <ul class="right hide-on-med-and-down">
        <li><a href="{{ '/blog/'         | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ '/codex/'        | prepend: site.baseurl }}">Codex</a></li>
        <li><a href="{{ '/archives.html' | prepend: site.baseurl }}">Archives</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" id="menu-close"><i class="icon-close"></i></a></li>
        <li><a href="{{ '/'              | prepend: site.baseurl }}">Top</a></li>
        <li><a href="{{ '/blog/'         | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ '/codex/'        | prepend: site.baseurl }}">Codex</a></li>
        <li><a href="{{ '/archives.html' | prepend: site.baseurl }}">Archives</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-menu"></i></a>
    </div>
  </nav>