  <!-- navigation -->
  <nav class="cyan darken-3">
    <div class="nav-wrapper container">
      <h1 id="logo"><a id="logo-container" href="/" class="brand-logo">IP Geo Block</a></h1>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ '/blog/'         | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ '/codex/'        | prepend: site.baseurl }}">Codex</a></li>
        <li><a href="{{ '/archives.html' | prepend: site.baseurl }}">Archives</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" id="menu-close"><i class="material-icons">close</i></a></li>
        <li><a href="{{ '/'              | prepend: site.baseurl }}">Top</a></li>
        <li><a href="{{ '/blog/'         | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ '/codex/'        | prepend: site.baseurl }}">Codex</a></li>
        <li><a href="{{ '/archives.html' | prepend: site.baseurl }}">Archives</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
