<div class="sidebar-module">
  <a href="/" title="Blog Home">
    <img class="img-responsive center-block" src="https://cloud.githubusercontent.com/assets/828814/7332953/37465664-eb96-11e4-9aa0-15acf48a6cbd.png" alt="WordPress Logo" />
    <!--<img class="img-responsive center-block" src="/img/wp-medal.png" alt="WordPress Logo" />-->
  </a>
</div>

<div class="sidebar-module">
  <h4>Links</h4>
  <ul>
    <li><a href="https://wordpress.org/plugins/ip-geo-block/" title="WordPress &#8250; IP Geo Block &laquo; WordPress Plugins">IP Geo Block &laquo; WordPress.org</a></li>
    <li class="rss-subscribe"><a href="/feed.xml">subscribe via RSS</a></li>
  </ul>
</div>

<div class="sidebar-module">
  <h4>Recent Posts</h4>
  <ul>
  {% for post in site.posts %}
    <li>
      <a class="blog-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
