/* This stylesheet is used to style the admin option form of the plugin. */
dfn {
    cursor: help;
    border-bottom: 1px dotted #888;
}

/* legend and fieldset in the form */
.form-table {
    margin: 0 1em;
}
fieldset.ip-geo-block-field {
    border: 1px solid #ccc;
    padding: 0.35em 0.625em 0.75em 1em;
    margin: 1.35em 0 1.5em;
}
fieldset.ip-geo-block-field h2,
fieldset.ip-geo-block-field h3 {
    padding: 0;
    margin: 0;
}
fieldset.ip-geo-block-field .ip-geo-block-dropup,
fieldset.ip-geo-block-field .ip-geo-block-dropdown {
    cursor: pointer;
    position: relative;
    padding-left: 1em;
}
fieldset.ip-geo-block-field .ip-geo-block-dropup:before,
fieldset.ip-geo-block-field .ip-geo-block-dropdown:before {
    content: '';
    height: 0;
    width: 0;
    border: 0.4em solid transparent;
    position: absolute;
}
fieldset.ip-geo-block-field .ip-geo-block-dropup:before {
    border-left: 0.4em solid #555;
    left: 3px;
    top: 15%;
}
fieldset.ip-geo-block-field .ip-geo-block-dropdown:before {
    border-top: 0.4em solid #555;
    left: 0;
    top: 35%;
}
fieldset.ip-geo-block-field ul.ip-geo-block-dropup:before {
    top: 0.25em;
}
fieldset.ip-geo-block-field ul.ip-geo-block-dropdown:before {
    top: 0.45em;
}
fieldset.ip-geo-block-field .form-table {
    margin: 0.5em 0 0;
}

textarea.regular-text {
    width: 25em;
}

ul.ip_geo_block_settings_exception {
    margin-top: 0.5em;
}
ul.ip_geo_block_settings_exception,
ul.ip_geo_block_settings_exception ul {
    margin-bottom: 0;
}
ul.ip_geo_block_settings_exception li:first-child {
    margin-top: 0.6em;
}
.exceptions-disable {
    pointer-events: none;
    opacity: 0.5;
}
.exceptions-inactive {
    opacity: 0.5;
    font-style:oblique !important;
}

.ip-geo-block-sup {
    margin-left: 0.2em;
    display: inline-block;
}

ul.ip-geo-block-note {
    list-style: disc outside;
    margin-left: 1em;
}
ul.ip-geo-block-list {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
ul.ip-geo-block-list label {
    display: inline-block;
}
.ip-geo-block-desc {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
@media screen and (min-width:782px) {
    ul.ip-geo-block-list .code {
        width: 15em;
    }
}

.ip-geo-block-loading {
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIGAAAAAMLCwkJCQpKSkmJiYoKCgv///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAGACwAAAAAEAAQAAADM2i63P4wyklrC0IEKgAQnAdOmGYFBLExwboQWcG2rlHEwTDQLUsUOd2mBxkUCgNKa+dIAAAh+QQJCgAGACwAAAIACgAOAAADLWgWIqHQCABEVLPe1R4MBOFFRFNsRUNsYDFewTC8iixvQ1EMyxjEvyBLODQkAAAh+QQJCgAGACwAAAAACgAOAAADLWi6IRJrCQCECoU0ag1xxeBARuEQ0UUU5DUM7fK+qTEUYR0EcM3Ev51uB7wAEwAh+QQJCgAGACwAAAAADgAKAAADLWi6URQrLiJEkSaM0eqrkLFtAVEEAgAIylAUQ5SuSqCFNZjhWG3zmB8wOJQkAAAh+QQJCgAGACwCAAAADgAKAAADK2hqMRMrLuekCnCU8gqBDCZ2glBcYkSUxIJJgQdaUVDOtAAAAr3oPN/llgAAIfkECQoABgAsBgAAAAoADgAAAytoEdauiz0Yx5BQFTvN2EMXWNgUFETZFIJQdERLiGgZtKohAIDQ7T0RrpEAACH5BAkKAAYALAYAAgAKAA4AAAMqaKoR+609Fie1K4zhZiibNRSg1XAQUXQPIQgE835voQgAIARqh+ummSUBACH5BAUKAAYALAIABgAOAAoAAAMsaLpsES2+F9mEddEgBFbBMGACAAiMOCrlGRBFWBQD2L0dYYjfUuQZEKynSAAAOw==);
    height: 16px;
    width: 16px;
    margin-left: 1em;
    margin-top: 0.2em;
    display: inline-block;
    vertical-align: middle;
}

.ip-geo-block-notice {
    color: #dd3d36;
}

.ip-geo-block-title {
    width: 100px;
    display: inline-block;
}

.ip-geo-block-result {
    color: #2786C2;
    display: inline-block;
}

#ip-geo-block-map {
    height: 400px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* google map infomation window */
.gm-style-iw {
    width: 18em;
    height: auto !important;
    height: 100%;
    min-height: 100%:
}
.gm-style-iw ul {
    margin: 0.1em;
}
.gm-style-iw li {
    margin: 0.2em;
}

ul.ip-geo-block-statistics-countries li {
    width: 12em;
    float: left;
    text-align: right;
    padding: 0.2em;
}

/* table */
.ip-geo-block-statistics-type th,
.ip-geo-block-statistics-type td,
.ip-geo-block-statistics-service th,
.ip-geo-block-statistics-service td,
.ip-geo-block-statistics-cache th,
.ip-geo-block-statistics-cache td {
    width: 12em;
    margin: 0;
    padding: 0.2em 0;
    text-align: right;
    line-height: 1.5em;
}

/* for footable */
.ip-geo-block-log {
    width: 100% !important;
}
.ip-geo-block-log * {
    font-size: 13px !important;
    line-height: 1.5em;
    vertical-align: middle;
}
.ip-geo-block-log .pagination ul {
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
.ip-geo-block-log .pagination ul > li {
    display: inline;
}
.ip-geo-block-log .pagination ul > li:first-child > a,
.ip-geo-block-log .pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.ip-geo-block-log .pagination ul > li:last-child > a,
.ip-geo-block-log .pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.ip-geo-block-log .pagination ul > .disabled > span,
.ip-geo-block-log .pagination ul > .disabled > a,
.ip-geo-block-log .pagination ul > .disabled > a:hover,
.ip-geo-block-log .pagination ul > .disabled > a:focus {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.ip-geo-block-log .pagination ul > li > a,
.ip-geo-block-log .pagination ul > li > span {
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px;
    width: 20px;
    text-decoration: none;
}
.ip-geo-block-log .pagination ul > .active > a,
.ip-geo-block-log .pagination ul > .active > span {
    color: #999;
    cursor: default;
}
.ip-geo-block-log .pagination ul > li > a:hover,
.ip-geo-block-log .pagination ul > li > a:focus,
.ip-geo-block-log .pagination ul > .active > a,
.ip-geo-block-log .pagination ul > .active > span {
    background-color: #f7f7f7;
}
.ip-geo-block-log .pagination-centered {
    text-align: center;
}
.ip-geo-block-log.breakpoint > tbody > tr > td > span.footable-toggle {
    font-size: 60% !important;
    position: relative;
    top: -1px;
    left: 2px;
}
.ip-geo-block-log > thead > tr > th,
.ip-geo-block-log > tbody > tr > td {
    padding: 4px 0;
    word-wrap: break-word;
    width: 20%;
}
.ip-geo-block-log > thead > tr > th:first-child,
.ip-geo-block-log > tbody > tr > td:first-child {
    width: 25%;
}
.ip-geo-block-log > thead > tr > th:first-child + th,
.ip-geo-block-log > tbody > tr > td:first-child + td {
    width: 35%;
}
.ip-geo-block-log > thead > tr > th:nth-child(5),
.ip-geo-block-log > tbody > tr > td:nth-child(5),
.ip-geo-block-log > thead > tr > th:nth-child(5) + th,
.ip-geo-block-log > tbody > tr > td:nth-child(5) + td {
    width: 60%;
    text-align: left;
}
@media screen and (min-width: 1024px) {
    .ip-geo-block-log > thead > tr > th:nth-child(3),
    .ip-geo-block-log > tbody > tr > td:nth-child(3),
    .ip-geo-block-log > thead > tr > th:nth-child(3) + th,
    .ip-geo-block-log > tbody > tr > td:nth-child(3) + td {
        width: 10%;
    }
}
.ip-geo-block-log > thead > tr > th > span.footable-sort-indicator {
    color: #888;
}
.ip-geo-block-log > tbody > tr > td {
    text-align: center;
}
.ip-geo-block-log > tbody > tr > td:first-child {
    text-align: left;
}
.ip-geo-block-log .footable-row-detail-row,
.ip-geo-block-log .footable-row-detail-name,
.ip-geo-block-log .footable-row-detail-value {
    display: block;
}
.ip-geo-block-log .footable-row-detail-value {
    padding: 0 1em 4px 1em;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

/* Scan the country code */
#ip-geo-block-scan-code {
    vertical-align: middle;
}
#ip-geo-block-code-list {
    display: none;
    margin-bottom: 0;
}

/* for google chart */
#ip-geo-block-countries,
#ip-geo-block-targets {
    display: none;
}
#ip-geo-block-chart-countries {
    height: 200px;
}
#ip-geo-block-chart-daily {
    height: 240px;
}
#ip_geo_block_settings_validation_plugins,
#ip_geo_block_settings_validation_themes {
    margin-top: 0.5em;
}
