/*! IP Geo Block admin icons
 * This package includes the following icon font.
 * IcoMoon - Free / Designer: Keyamoon      / License: GPL / CC BY 4.0
 * Zondicons      / Designer: Steve Schoger / License: CC BY 4.0
 * Material Icons / Designer: Google        / License: Apache License 2.0
 */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?119jp3');
  src:  url('fonts/icomoon.eot?119jp3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?119jp3') format('truetype'),
    url('fonts/icomoon.woff?119jp3') format('woff'),
    url('fonts/icomoon.svg?119jp3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ip-geo-block-icon-"], [class*=" ip-geo-block-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ip-geo-block-icon-calc {
  margin-top: 0.2em !important;
}
.ip-geo-block-icon-calc:before {
  content: "\e901";
}
.ip-geo-block-icon-vpn_lock:before {
  content: "\e62f";
}
.ip-geo-block-icon-search:before {
  content: "\e986";
}
.ip-geo-block-icon-key:before {
  content: "\e98d";
}
.ip-geo-block-icon-lock:before {
  content: "\e98f";
}
.ip-geo-block-icon-unlocked:before {
  content: "\e990";
}
.ip-geo-block-icon-cogs:before {
  content: "\e995";
}
.ip-geo-block-icon-pie-chart:before {
  content: "\e99a";
}
.ip-geo-block-icon-stats-dots:before {
  content: "\e99b";
}
.ip-geo-block-icon-stats-bars:before {
  content: "\e99c";
}
.ip-geo-block-icon-stats-bars2:before {
  content: "\e99d";
}
.ip-geo-block-icon-switch:before {
  content: "\e9b6";
}
.ip-geo-block-icon-sphere:before {
  content: "\e9c9";
}
.ip-geo-block-icon-earth:before {
  content: "\e9ca";
}
.ip-geo-block-icon-play:before {
  content: "\ea1c";
}
.ip-geo-block-icon-pause:before {
  content: "\ea1d";
}
.ip-geo-block-icon-stop:before {
  content: "\ea1e";
}
.ip-geo-block-icon-eject:before {
  content: "\ea25";
}
.ip-geo-block-icon-new-tab:before {
  content: "\ea7e";
}
.ip-geo-block-icon-warning:before {
  content: "\e900";
}

/* Dashicons is the official icon font of the WordPress admin as of 3.8+. */
#toplevel_page_ip-geo-block .dashicons-admin-generic:before {
    font-family: 'icomoon';
    content: "\e62f";
    font-size: 18px;
    margin-left: 2px;
}
/*
#toplevel_page_ip-geo-block .dashicons-admin-generic:before {
    font-family: 'icomoon';
    content: "\e9c9";
    font-size: 18px;
    margin-left: 2px;
}
*/