/*------------------------------------------------------------
 * customizing based on jquery.dataTables.css
 *------------------------------------------------------------*/
table.dataTable {
    clear: none !important;
}
table.dataTable th,
table.dataTable td {
    text-align: right;
}
table.dataTable.nowrap td {
    white-space: normal !important;
}
table.dataTable > tbody > tr {
    cursor: pointer;
}
table.dataTable > thead > tr > th:first-child {
    padding: 8px 10px;
    text-align: left;
}
table.dataTable > tbody > tr > td:first-child {
    padding: 8px 10px;
    text-align: left;
}
table.dataTable > thead > tr > th:first-child input,
table.dataTable > tbody > tr > td:first-child input {
    vertical-align: baseline;
}

table.dataTable > thead > tr {
    line-height: 1.8em;
}
table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td,
table.dataTable.no-footer {
    border: none;
}
table.dataTable > tbody > tr > td.dataTables_empty,
table.collapsed > tbody > tr > td.dataTables_empty:first-child::before {
    border: none !important;
    text-align: center;
}

table.collapsed > thead > tr > th:first-child {
    padding: 8px 10px 8px 20px;
}
table.dataTable > thead > tr > th:first-child input,
table.dataTable > tbody > tr > td:first-child input {
    vertical-align: middle;
}
table.collapsed > tbody > tr        > td:first-child:before,
table.collapsed > tbody > tr.parent > td:first-child:before {
    content: '';
    height: 0;
    width: 0;
    display: inline-block;
    border-radius: 0;
    border: 5px solid transparent;
    box-shadow: none;
    position: relative;
    background-color: transparent;
}
table.collapsed > tbody > tr > td:first-child:before {
    border-left: 5px solid #555;
    top: 0;
    left: -2px;
}
table.collapsed > tbody > tr.parent > td:first-child:before {
    border-top: 5px solid #555;
    top: 4px;
    left: -4px;
}
table.collapsed > tbody > tr.child > td:first-child:before {
    border: none;
}

.dataTables_filter {
    display: none;
}
.dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    min-width: 2em;
    padding: 0.25em 0.5em;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 0.5em;
}

#ip-geo-block-section-2 table.form-table {
    margin-left: 1em;
}

mark {
    padding: 0;
    background: #FFFF88;
}

input[type="radio"],
input[type="checkbox"] {
    height: 16px;
    width: 16px;
}
