---
layout: default
---
<div class="container">
  <div class="section">

    <div class="breadcrumb">
      <a href="{{ '/' | prepend: site.baseurl }}" title="Top">Top</a> &raquo;
{% for category in page.category %}
      <a href="{{ category | prepend: '/' | prepend: site.baseurl }}/" title="{{ category | capitalize }}">{{ category | capitalize }}</a> &raquo;
{% endfor %}
    </div>

    <header class="post-header">
      <h2 class="blog-post-title">{{ page.title }}</h2>
    </header>

{{ content }}

  </div>
</div>
