---
layout: default
---
<div class="container">
  <div class="section">

    <div class="breadcrumb">
      <a href="{{ '/' | prepend: site.baseurl }}" title="Top">Top</a> &raquo;
{% for category in page.category %}
      <a href="{{ category | prepend: '/' | prepend: site.baseurl }}/" title="{{ category | capitalize }}">{{ category | capitalize }}</a> &raquo;
{% endfor %}{% if page.section %}
      {{ page.section | capitalize }} &raquo;
{% endif %}
    </div>

    <header class="post-header">
      <h2 class="blog-post-title">{{ page.title }}</h2>
    </header>

{{ content }}

    <footer class="post-footer">
      <ul class="row">
{% if page.previous.language == page.language or page.previous.language == page.none %}
    {% assign post = page.previous %}
{% else %}
    {% assign post = page.previous.previous %}
{% endif %}
{% if post.url %}
        <li class="col s6 left">
          <a class="prev" href="{{ post.url }}" title="Previous page">&laquo; {{ post.title }}</a>
        </li>
{% endif %}
{% if page.next.language == page.language or page.next.language == page.none %}
    {% assign post = page.next %}
{% else %}
    {% assign post = page.next.next %}
{% endif %}
{% if post.next.url %}
        <li class="col s6 right">
          <a class="next" href="{{ post.url }}" title="Next page">{{ post.title }} &raquo;</a>
        </li>
{% endif %}
      </ul>
    </footer>

  </div>
</div>